<h1>Recommended for You</h1>

<% @recommended_contents.each do |content| %>
  <div>
    <h2><%= link_to content.title, content_path(content) %></h2>
    <p><%= content.description %></p>
  </div>
<% end %>