<h1>Your Recommendations</h1>

<% if @recommendations.any? %>
  <ul>
    <% @recommendations.each do |content| %>
      <li><%= link_to content.title, content_path(content) %></li>
    <% end %>
  </ul>
<% else %>
  <p>We don't have any recommendations for you yet. Try interacting with more content!</p>
<% end %>